<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ToDo Application</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<h1>To Do List</h1>

<ul>
    <li th:each="todo : ${list}" >
        <span th:text = "*{todo.getTitle()}"></span> : <span th:text="*{todo.getDetail()}"></span>
    </li>
</ul>

<a th:href = "@{/addToList}" class = "btn btn-success">Add To List</a>
<a th:href="@{/deleteTask}" class="btn btn-success">Delete Task</a>
</body>
</html>