<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ToDo Application</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<h1>Sucess Add or Delete</h1>

<a th:href="@{/listToDo}"  class="btn btn-primary">View List</a>
<a th:href="@{/deleteTask}" class="btn btn-success">Delete Task</a>
</body>
</html>