<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>To Do Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
<h1>To Do Application</h1>
<a th:href="@{/listToDo}" class="btn btn-primary">View the list</a>
<a th:href="@{/addToDo}" class="btn btn-success">Add the task</a>
</body>
</html>